

<hr>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">


  <%= form_for @inventory do |f| %>


    <% if inventory.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

        <ul>
          <% inventory.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
          <strong><h2 style="font-size: 20px;background-color: midnightblue;color: white">Inventory Details</h2></strong>

          <div class="jumbotron">

            <div class="control-group">
              <%= f.label :department_id, "Department",class: 'control-label' %>
              <div class ="controls">
                <%= f.collection_select :department_id, Department.order(:name), :id, :name, include_blank: true %>
              </div>
            </div>

            <div class="field">
              <%= f.label :active %>
              <%= f.check_box :active %>
            </div>


            <%= f.hidden_field :user_id , class: 'form-control', value: current_user.id %>


            <div class="field">
              <%= f.label :period_from %>
              <%= f.date_select :period_from , class: 'form-control',placeholder:'From...' %>
            </div>

            <div class="field">
              <%= f.label :period_to %>
              <%= f.date_select :period_to, class: 'form-control',placeholder:'To...'  %>
            </div>
            <div class="field">
              <%= f.label :location %>
              <%= f.text_field :location, class: 'form-control' ,placeholder:'Location...' %>
            </div>



          </div>

    <hr/>
    <hr/>
          <strong><h2 style="font-size: 20px;background-color: midnightblue;color: white">Add Items</h2></strong>

            <div class="nested_fields">
              <%= link_to_add_association 'Add', f, :items, class: 'fa fa-plus',style:"font-size:15px;color:green"%>
              <%= f.fields_for :items do |item| %>
                <div class="jumbotron">
                <%= render 'item_fields', :f => item %>
                </div>
              <% end %>

          </div>
          <hr/>
          <hr/>

          <strong><h2 style="font-size: 20px;background-color: midnightblue;color: white">Add Comments</h2></strong>


            <div class="nested-fields">
              <%= link_to_add_association 'Add', f, :comments, class:'fa fa-plus',style:"font-size:15px;color:green"%>
              <%= f.fields_for :comments do |comment| %>
                <div class="jumbotron">
                <%= render 'comment_fields', :f => comment %>
                </div>
              <% end %>

          </div>
          <br>
          <hr>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>




      </div>
    </div>