<div class="nested-fields">

  <div class="form-inputs">
    <%= f.input :company %>
    <%= f.input :company_address %>
    <%= f.input :company_telephone %>
    <%= f.input :company_email %>
    <%= f.input :company_details %>
    <%= f.input :position %>
    <%= f.input :from,:start_year =>2000, :end_year => 2030 %>
    <%= f.input :to,:start_year =>2000, :end_year => 2030 %>
    <%= f.input :role %>
    <%= f.input :terminationreason, label: 'Termination Reason' %>
    <%= f.input :actve,label: 'Active' %>
    <%= f.input :user_id ,:as => :hidden, :input_html => { :value => current_user.id}%>
  </div>

  <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>

</div>
