<% provide(:title, "Person") %>
<p id="notice"><%= notice %></p>

<div class="breadcrumb">
  <h3>Person Profile</h3>
</div>
<hr>

  <div class="col-sm-4">
    <div class="breadcrumb">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Created on</th>
          <th>Updated on</th>
          <th>Person Number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%=h @person.created_at.strftime("%d %b. %Y") %></td>
          <td><%=h @person.updated_at.strftime("%d %b. %Y") %></td>
          <td><%=h @person_number %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="jumbotron">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Full Name:</td>
          <td><%= @person.fullname %> </td>
        </tr>
        <tr>
          <td>DoB</td>
          <td><%= @person.dob.strftime("%d %b. %Y") %></td>
        </tr>
        <tr>
          <td>PPSN</td>
          <td><%= @person.pps_number%></td>
        </tr>
        <tr>
          <td>Active</td>
          <td><%= @person.active.humanize%></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="breadcrumb">
  <%= link_to 'Edit', edit_person_path(@person), class:'fa fa-edit' %> |
  <%= link_to 'Back', people_path, class:'fa fa-arrow-left' %>
</div>
<hr>


<div class="breadcrumb" style="background-color: cadetblue;color: white">
  <h4>Email | Telephone | Postal Address</h4>
</div>



<div class="row">
  <div class="col-sm-4">
    <div class="border">
      <div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 1: Emails</strong></h2></div>
      <br>

      <div>
        <% for email in @person.emails %>
          <div class="jumbotron">

            <table class="table table-hover">
              <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Email</td>
                <td><%=h email.email %> </td>
              </tr>
              <tr>
                <td>Active</td>
                <td><%=h email.active.humanize  %></td>
              </tr>
              <tr>
                <td>Registered on:</td>
                <td><%=h email.created_at.strftime("%d %b. %Y") %></td>
              </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <div class="border">
    <div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 2: Telephones</strong></h2></div>
    <br>

    <div>

      <% for telephone in @person.telephones %>

        <div class="jumbotron">

          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Telephone</td>
              <td><%=h telephone.phone %> </td>
            </tr>
            <tr>
              <td>Active</td>
              <td><%=h telephone.active.humanize %></td>
            </tr>
            <tr>
              <td>Registered on</td>
              <td> <%=h telephone.created_at.strftime("%d %b. %Y") %></td>
            </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="border">
    <div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 3: Postal Address</strong></h2></div>
    <br>
    <div>

      <% for address in @person.addresses %>

        <div class="jumbotron">
          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Address</td>
              <td><%=h address.address %></td>
            </tr>
            <tr>
              <td>Active</td>
              <td><%=h address.active.humanize %></td>
            </tr>
            <tr>
              <td>Registered on</td>
              <td> <%=h address.created_at.strftime("%d %b. %Y") %></td>
            </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<br>
<div class="breadcrumb">
  <%= link_to 'Edit', edit_person_path(@person), class:'fa fa-edit' %> |
  <%= link_to 'Back', people_path, class:'fa fa-arrow-left' %>
</div>
<hr>


<div class="breadcrumb" style="background-color: cadetblue;color: white">
  <h4>Education | Employment | References</h4>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="border">
    <div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 4: Education</strong></h2></div>
    <br>
    <div>

      <% for qualification in @person.qualifications %>

        <div class="jumbotron">

          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Qualification Name</td>
              <td><%=h qualification.name %> </td>
            </tr>
            <tr>
              <td>School</td>
              <td><%=h qualification.school %></td>
            </tr>
            <tr>
              <td>From </td>
              <td> <%=h qualification.from %></td>
            </tr>
            <tr>
              <td>To </td>
              <td> <%=h qualification.to %></td>
            </tr>
            <tr>
              <td>Grade </td>
              <td> <%=h qualification.grade %></td>
            </tr>
            <tr>
              <td>Active </td>
              <td> <%=h qualification.active.humanize %></td>
            </tr>
            <tr>
              <td>Registered on </td>
              <td> <%=h qualification.created_at.strftime("%d %b. %Y") %></td>
            </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="border">
    <div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 5: Employment</strong></h2></div>
    <br>
    <div>

      <% for job in @person.employments %>

        <div class="jumbotron">
          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Company</td>
              <td><%=h job.company %>  </td>
            </tr>
            <tr>
              <td>Position</td>
              <td><%=h job.position %> </td>
            </tr>
            <tr>
              <td>From </td>
              <td> <%=h job.from %> </td>
            </tr>
            <tr>
              <td>To </td>
              <td>  <%=h job.to %> </td>
            </tr>
            <tr>
              <td>Role</td>
              <td>  <%=h job.role %> </td>
            </tr>
            <tr>
              <td>Termination Reason </td>
              <td> <%=h job.terminationreason %></td>
            </tr>
            <tr>
              <td>Active </td>
              <td>  <%=h job.actve.humanize %></td>
            </tr>
            <tr>
              <td>Registered on </td>
              <td> <%=h job.created_at.strftime("%d %b. %Y") %></td>
            </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="border">
    <div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 6: References</strong></h2></div>
    <br>
    <div>
      <% for reference in @person.employmentreferences %>

        <div class="jumbotron">

          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Company</td>
              <td><%=h reference.employment.company %> </td>
            </tr>
            <tr>
              <td>Referee</td>
              <td><%=h reference.referee_name %> </td>
            </tr>
            <tr>
              <td>Telephone </td>
              <td> <%=h reference.referee_telephone %></td>
            </tr>
            <tr>
              <td>Details </td>
              <td>  <%=h reference.referee_details %></td>
            </tr>

            <td>Active </td>
            <td> <%=h reference.referee_active.humanize %></td>
            </tr>
            <tr>
              <td>Registered on </td>
              <td> <%=h reference.created_at.strftime("%d %b. %Y") %></td>
            </tr>
            </tbody>
          </table>

      </div>
      <% end %>
  </div>
  </div>
</div>
</div>


<div class="breadcrumb">
      <%= link_to 'Edit', edit_person_path(@person), class:'fa fa-edit' %> |
      <%= link_to 'Back', people_path, class:'fa fa-arrow-left' %>
</div>
<hr>


<div class="breadcrumb" style="background-color: cadetblue;color: white">
  <h4>Comments</h4>
</div>

<div class="border">
<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 7: General Comments</strong></h2></div>
<br>

<div>

  <% for comment in @person.comments %>

    <div class="jumbotron">

      <div>
        <textarea rows="4" cols="80" readonly>      <%=h comment.commentary %></textarea>
      </div>
      <br>
      <br>
      <div>
        Registered on:
        <%=h comment.created_at.strftime("%d %b. %Y") %>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>
<div class="breadcrumb">
  <%= link_to 'Edit', edit_person_path(@person), class:'fa fa-edit' %> |
  <%= link_to 'Back', people_path, class:'fa fa-arrow-left' %>
</div>



