<% provide(:title, "View Saving Recons") %>
<p id="notice"><%= notice %></p>

<div class="jumbotron">


  <div>
    <strong>Cashflow:</strong><br><br>
    <textarea rows="1" cols="80" readonly>
  <%= @saving_recon.saving.name %>
  </textarea>
  </div>

  <div>
    <strong>User:</strong><br><br>
    <textarea rows="1" cols="80" readonly>
  <%= @saving_recon.user.fullname %>
  </textarea>
  </div>

  <div>
    <strong>Error details:</strong><br><br>
    <textarea rows="1" cols="80" readonly>
  <%= @saving_recon.error_details %>
  </textarea>
  </div>

  <div>
    <strong>Reconciliation rationale:</strong><br><br>
    <textarea rows="1" cols="80" readonly>
  <%= @saving_recon.reconciliation_rationale %>
  </textarea>
  </div>

  <div>
    <strong>Correction amount:</strong><br><br>
    <textarea rows="1" cols="80" readonly>
  <%= @saving_recon.correction_amount %>
  </textarea>
  </div>

  <div>
    <strong>Authorised by:</strong><br><br>
    <textarea rows="1" cols="80" readonly>
  <%= @saving_recon.person.fullname %>
  </textarea>
  </div>

  <div>
    <strong>Authorisation date:</strong><br><br>
    <textarea rows="1" cols="80" readonly>
  <%= @saving_recon.authorisation_date.strftime("%d %b. %Y") %>
  </textarea>
  </div>

</div>

<div class="breadcrumb">
  <%= link_to 'Edit', edit_saving_recon_path(@saving_recon), class:'fa fa-edit' %> |
  <%= link_to 'Back', saving_recons_path, class:'fa fa-arrow-left'  %>

</div>
