

<div class="nested-fields">
  <div class="jumbotron">
    <div class="form-inputs">
      <div class="control-group">
        <div class ="controls">
          <%= f.association :person, collection: Person.order(:fullname),label_method: :fullname, prompt: "Choose an owner", label:"Owner" %>
        </div>
      </div>
      <br>


      <div class="control-group">
        <div class ="controls">
          <%= f.association :inflowtype, collection: Inflowtype.order(:name),label_method: :name, prompt: "Choose an flowtype", label:"Type" %>
        </div>
      </div>
      <br>

      <%= f.input :year,placeholder:'Year...'%>
      <%= f.input :month,placeholder:'Month...' %>
      <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>
      <%= f.input :amount ,placeholder:'Amount...'%>
      <%= f.input :details,placeholder:'Details...' %>
    </div>
    <hr>

    <div class="breadcrumb">
      <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>
    </div>


  </div>

</div>

