<% provide(:title, "View Budget") %>
<p id="notice"><%= notice %></p>



<div class="breadcrumb">
  <h3>Monthly Budget: <%= @budget.name %></h3>
</div>


<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>A. Budget Details:</h4>
</div>



<div>
  <div class="row">
    <div class="col-sm-6">

      <div class="jumbotron">
        <h2 style="font-size: 15px;background-color: navy;color: white"><strong> Budget Details</strong></h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Month</td>
            <td><%= @budget.month %> </td>
          </tr>
          <tr>
            <td>Year</td>
            <td><%= @budget.year %></td>
          </tr>
          <tr>
            <td>Budget date</td>
            <td><%= @budget.budget_date.strftime("%d, %b  %Y") %></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><%= @budget.name %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">

      <div class="jumbotron">
        <h2 style="font-size: 15px;background-color: navy;color: white"><strong> Budget Financial Summary</strong></h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Title</th>
            <th>Amount(€)</th>
            <th>Literal</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Total Income (€)</td>
            <td>€ <%= @totalincome %> </td>
            <td><%= @totalincome.humanize %></td>
          </tr>
          <tr>
            <td>Total Expenses (€)</td>
            <td>€ <%= @totalexpense %> </td>
            <td><%= @totalexpense.humanize %></td>
          </tr>
          <tr>
            <td>Balance (€)</td>
            <td> € <%= @balance %></td>
            <td><%= @balance.humanize %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>
<hr>

<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>B. Income and Expenditure:</h4>
</div>

<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Income:</strong></h2></div>

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Date</th>
            <th>Details </th>
            <th>Flow Type</th>
            <th>Owner</th>
            <th>Amount(€)</th>
          </tr>
          </thead>

          <tbody>
          <% @incomes.each do |income| %>
            <tr>
              <td><%= income.created_at.strftime("%d %b. %Y")%>
              <td><%= income.details %></td>
              <td><%= income.inflowtype.name %></td>
              <td><%= income.person.fullname %></td>
              <td><%= income.amount %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron">
        <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Expenses:</strong></h2></div>

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Date</th>
            <th>Details </th>
            <th>Flow Type </th>
            <th>Owner</th>
            <th>Amount(€)</th>
          </tr>
          </thead>

          <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.created_at.strftime("%d %b. %Y")%>
              <td><%= expense.details %></td>
              <td><%= expense.outflowtype.name %></td>
              <td><%= expense.person.fullname %></td>
              <td><%= expense.amount %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>
<hr>


<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>C. Income and Expenditure Classification:</h4>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron">
      <h2 style="font-size: 15px;background-color: navy;color: white"><strong> Income Breakdown</strong></h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Category</th>
          <th>Amount(€)</th>
          <th>Literal</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Salary</td>
          <td>€  <%= @salary %> </td>
          <td><%= @salary.humanize %></td>
        </tr>
        <tr>
          <td>Child Benefit (€)</td>
          <td>€ <%= @child_benefit %> </td>
          <td><%= @child_benefit.humanize %></td>
        </tr>
        <tr>
          <td>Lotto Winnings(€)</td>
          <td>€ <%=@lotto_winnings%></td>
          <td><%= @lotto_winnings.humanize %></td>
        </tr>
        <tr>
          <td>Other (€)</td>
          <td>€ <%= @others %></td>
          <td><%= @others.humanize %></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="jumbotron">
      <h2 style="font-size: 15px;background-color: navy;color: white"><strong> Expenses Breakdown</strong></h2>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Category</th>
          <th>Amount(€)</th>
          <th>Literal</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Rent</td>
          <td>€  <%= @rent %> </td>
          <td><%= @rent.humanize %></td>
        </tr>
        <tr>
          <td>Telecom</td>
          <td>€ <%= @telecom %> </td>
          <td><%= @telecom.humanize %></td>
        </tr>
        <tr>
          <td>eFlow</td>
          <td>€ <%=@eflow%></td>
          <td><%= @eflow.humanize %></td>
        </tr>
        <tr>
          <td>Food</td>
          <td>€ <%= @food %></td>
          <td><%= @food.humanize %></td>
        </tr>
        <tr>
          <td>Electricity</td>
          <td>€ <%= @electricity %></td>
          <td><%= @electricity.humanize %></td>
        </tr>
        <tr>
          <td>Credit Card Fees</td>
          <td>€ <%= @credit_card_fees %></td>
          <td><%= @credit_card_fees.humanize %></td>
        </tr>
        <tr>
          <td>Current Account Fees</td>
          <td>€ <%= @current_account_fees %></td>
          <td><%= @current_account_fees.humanize %></td>
        </tr>
        <tr>
          <td>Allowance - Gaelle</td>
          <td>€ <%= @allowance_gaelle %></td>
          <td><%= @allowance_gaelle.humanize %></td>
        </tr>

        <tr>
          <td>Allowance - Herve</td>
          <td>€ <%= @allowance_herve %></td>
          <td><%= @allowance_herve_account_fees.humanize %></td>
        </tr>
        <tr>
          <td>Loan  - PTSB</td>
          <td>€ <%= @loan_ptsb %></td>
          <td><%= @loan_ptsb.humanize %></td>
        </tr>
        <tr>
          <td>Loan - Chill Money</td>
          <td>€ <%= @loan_chill_money %></td>
          <td><%= @loan_chill_money.humanize %></td>
        </tr>
        <tr>
          <td>Lodgement - Credit Union</td>
          <td>€ <%= @lodgement_credit_union %></td>
          <td><%= @lodgement_credit_union.humanize %></td>
        </tr>
        <tr>
          <td>Family Support</td>
          <td>€ <%= @family_support %></td>
          <td><%= @family_support.humanize %></td>
        </tr>
        <tr>
          <td>Entertainment - Night Out:</td>
          <td>€ <%= @entertainment_nightout %></td>
          <td><%= @entertainment_nightout.humanize %></td>
        </tr>
        <tr>
          <td>Entertainment - Day Out</td>
          <td>€ <%= @entertainment_dayout %></td>
          <td><%= @entertainment_dayout.humanize %></td>
        </tr>
        <tr>
          <td>Apple storage</td>
          <td>€ <%= @apple_storage %></td>
          <td><%= @apple_storage.humanize %></td>
        </tr>
        <tr>
          <td>AA Ireland</td>
          <td>€ <%= @aa_ireland %></td>
          <td><%= @aa_ireland.humanize %></td>
        </tr>
        <tr>
          <td>Lottery Ticket</td>
          <td>€ <%= @lottery_ticket %></td>
          <td><%= @lottery_ticket.humanize %></td>
        </tr>
        <tr>
          <td>Car Tax</td>
          <td>€ <%= @car_tax %></td>
          <td><%= @car_tax.humanize %></td>
        </tr>
        <tr>
          <td>Heating Oil</td>
          <td>€ <%= @heating_oil %></td>
          <td><%= @heating_oil.humanize %></td>
        </tr>
        <tr>
          <td>Car Service</td>
          <td>€ <%= @car_service %></td>
          <td><%= @car_service.humanize %></td>
        </tr>
        <tr>
          <td>Spiritual Tools</td>
          <td>€ <%= @spiritual_tools %></td>
          <td><%= @spiritual_tools.humanize %></td>
        </tr>
        <tr>
          <td>Other</td>
          <td>€ <%= @other_expenses %></td>
          <td><%= @other_expenses.humanize %></td>
        </tr>
        <tr>
          <td>Work Lunch:</td>
          <td>€ <%= @work_lunch %></td>
          <td><%= @work_lunch.humanize %></td>
        </tr>
        <tr>
          <td>Pharmacy</td>
          <td>€ <%= @pharmacy %></td>
          <td><%= @pharmacy.humanize %></td>
        </tr>
        <tr>
          <td>Furniture</td>
          <td>€ <%= @lottery_ticket %></td>
          <td><%= @furniture.humanize %></td>
        </tr>
        <tr>
          <td class="alert-info">Total Expenses </td>
          <td class="alert-info" >€ <%= @totalexpense%></td>
          <td class="alert-info"><%= @totalexpense.humanize %></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="breadcrumb">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>
<hr>


<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>D. Comments:</h4>
</div>

<div>
  <h2 style="font-size: 15px;background-color: navy;color: white"><strong> Comments</strong></h2>

  <div>

    <% for comment in @budget.comments %>

      <div class="jumbotron">

        <div>
          <strong>Comments:</strong><br><br>
          <textarea rows="4" cols="80" readonly> <%=h comment.commentary %> </textarea>
        </div>
        <br>
        <div>
          Registered on:
          <%=h comment.created_at.strftime("%d %b. %Y") %>
        </div>
        <div>
          ID:
          <%=h comment.id %>
        </div>

      </div>
    <% end %>

  </div>

</div>



<br>

<div class="breadcrumb">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>
<hr>

<div class="breadcrumb">
  <div>
    Created on:
    <%=h @budget.created_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Updated on:
    <%=h @budget.updated_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Budget Number:
    BN - <%=h @budget_number %>
  </div>
  <br>
</div>

