<% provide(:title, "Search Legacy ULSB") %>



<div class="breadcrumb">
  <h3>Legacy Ulster Bank Transactions</h3>
</div>

<div class="jumbotron">

  <div>
    <div class="form-inline">
      <%= search_form_for @search, url:  search_legacy_ulsterbanks_path, html: {method: :post} do |f| %>
        <%= f.text_field :trans_date_gteq, placeholder:'Start Date...' , class:'form-control'%>
        <%= f.text_field :trans_date_lteq, placeholder:'End Date...' , class:'form-control'%>
        <%= f.text_field :trans_type_cont, placeholder:'Type...' , class:'form-control'%>
        <%= f.text_field :description_cont, placeholder:'Description...', class:'form-control' %> <br><br>
        <%= f.text_field :trans_value_cont, placeholder:'Value...', class:'form-control' %>
        <%= f.text_field :account_name_cont, placeholder:'Account Name... ' , class:'form-control'%>
        <br>  <br>
        <%= f.submit "Search" , class:'btn btn-success'%>
    </div>
      <br>  <br>
      Balance : € <%= @total_value.round(2) %> |
      Found: <%= @transaction_records %> records
    <% end %>


  </div>



  <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Ulsterbank Transactions:</strong></h2></div>
  <table class=" table table-hover">
    <thead>
    <tr>

      <th>Transaction Date</th>
      <th>Type</th>
      <th>Description</th>
      <th>Value</th>
      <th>Account Name</th>
      <th>Account Number</th>

      <th></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @transactions.each do |trans| %>
      <tr>
        <td><%= trans.trans_date.strftime("%d, %b  %Y") %></td>
        <td><%= trans.trans_type %></td>
        <td><%= trans.description %></td>
        <td><%= trans.trans_value %></td>
        <td><%= trans.account_name %></td>
        <td><%= trans.account_number %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <%= will_paginate @transactions %>
  <hr>
</div>