<p id="notice"><%= notice %></p>


<div class="breadcrumb">
  <h3>Departments</h3>
</div>

<table class=" table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.name, department %></td>
        <td><%= department.description %></td>
        <td><%= department.active %></td>
        <td><%= link_to 'View', department, class:'fa fa-eye' %></td>
        <td><%= link_to 'Edit', edit_department_path(department), class:'fa fa-edit'  %></td>
        <td><%= link_to 'Delete', department, method: :delete, data: { confirm: 'Are you sure?' }, class:'fa fa-remove'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="links">
  <%= link_to 'New Department', new_department_path, class:'fa fa-plus' %>
</div>

