<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <strong>Name:</strong><br><br>
  <p class="show_page_data"><%= @department.name %>
  </p>
</div>

<div class="jumbotron">
  <strong>Description:</strong><br><br>
  <p class="show_page_data"><%= @department.description %>
  </p>
</div>



<div class="jumbotron">
  <strong>Owner:</strong><br><br>
  <p class="show_page_data"> <%= @department.person.fullname %>
    <%= @department.person.surname %>
  </p>
</div>

<div class="jumbotron">
  <strong>Active:</strong><br><br>
  <p class="show_page_data"> <%= @department.active %>
  </p>
</div>





<div class="links">
  <%= link_to 'Edit', edit_department_path(@department) , class:'fa fa-edit'%> |
  <%= link_to 'Back', departments_path  , class:'fa fa-arrow-left'%>
</div>

