
<%= simple_form_for(@delivery) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="row">
    <div class="col-sm-4">
      <%= f.association :person, collection: Person.order(:fullname),label_method: :fullname, prompt: "Choose an receiver", label:"Received by" %>
    </div>
    <div class="col-sm-4">
      <%= f.input :delivery_date %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id} %>
    </div>
  </div>


  <div class="form-inputs">

    <hr/>

    <strong><h2 style="font-size: 20px;background-color: midnightblue;color: white">Add Posts</h2></strong>

    <div class="nested_fields">
      <%= link_to_add_association 'Add', f, :posts, class: 'fa fa-plus',style:"font-size:15px;color:green"%>
      <%= f.simple_fields_for :posts do |post| %>
        <div class="jumbotron">
          <%= render 'post_fields', :f => post %>
        </div>
      <% end %>
    </div>
    <hr/>
    <hr/>

    <strong><h2 style="font-size: 20px;background-color: midnightblue;color: white">comments</h2></strong>

    <div class="nested_fields">
      <%= link_to_add_association 'Add', f, :comments, class: 'fa fa-plus',style:"font-size:15px;color:green"%>
      <%= f.simple_fields_for :comments do |post| %>
        <div class="jumbotron">
          <%= render 'cashflows/comment_fields', :f => post %>
        </div>
      <% end %>
    </div>
    <hr/>
    <hr/>


  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
