

<div class="nested-fields">


  <div class="form-inputs">


    <%= f.association :post_type, collection: PostType.order(:name),label_method: :name, prompt: "Choose a post-type", label:"Type" %>
    <%= f.input :description ,placeholder:'Description...'%>
    <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>
    <%= f.input :scanned, default: false %>


  </div>


  <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>

</div>
