
<%= simple_form_for(@cashflow) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
    <h4>A. Enter Cashflow Details:</h4>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-inputs">
        <%= f.input :accounting_date %>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="form-inputs">
        <%= f.input :name ,placeholder:'Cashflow Name...'%>
      </div>
    </div>
  </div>


  <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>



  <hr/>
  <hr/>

  <div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
    <h4>B. Enter Incomes and Expenditures:</h4>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <strong><h2 style="font-size: 20px;background-color: midnightblue;color: white">Inflows</h2></strong>

      <div class="nested_fields">
        <div class="form-actions">
          <%= f.button :submit, "Save" %>
        </div>
        <br>
        <div class="breadcrumb">
          <%= link_to_add_association 'Add', f, :inflows, class: 'fa fa-plus',style:"font-size:15px;color:green"%>
        </div>

        <%= f.simple_fields_for :inflows do |cash| %>
          <% if @inflow.follow_up == true %>
            <div class="jumbotron" style="background-color: gold">
              <%= render 'inflow_fields', :f =>  cash %>
            </div>
          <% else %>
            <div class="jumbotron">
              <%= render 'inflow_fields', :f =>  cash %>
            </div>
          <% end %>
        <% end %>
        <div class="form-actions">
          <%= f.button :submit, "Save" %>
        </div>
      </div>


      <hr/>
      <hr/>

    </div>
    <div class="col-sm-6">

      <strong><h2 style="font-size: 20px;background-color: midnightblue;color: white">outflows</h2></strong>
      <div class="form-actions">
        <%= f.button :submit, "Save" %>
      </div>
      <br>
      <div class="nested_fields">
        <div class="breadcrumb">
          <%= link_to_add_association 'Add', f, :outflows, class: 'fa fa-plus',style:"font-size:15px;color:green"%>
        </div>

        <%= f.simple_fields_for :outflows do |cash| %>
          <div class="jumbotron">
            <%= render 'outflow_fields', :f =>  cash %>
          </div>
        <% end %>
        <div class="form-actions">
          <%= f.button :submit, "Save" %>
        </div>
      </div>
      <hr/>

    </div>
  </div>


  <hr/>


  <div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
    <h4>C. Enter Comments:</h4>
  </div>

  <strong><h2 style="font-size: 20px;background-color: midnightblue;color: white">Comments</h2></strong>
  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>
  <br>
  <div class="nested_fields">
    <div class="breadcrumb">
      <%= link_to_add_association 'Add', f, :comments, class: 'fa fa-plus',style:"font-size:15px;color:green"%>
    </div>

    <%= f.simple_fields_for :comments do |cash| %>
      <div class="jumbotron">
        <%= render 'comment_fields', :f =>  cash %>
      </div>
    <% end %>
    <div class="form-actions">
      <%= f.button :submit, "Save" %>
    </div>

  </div>
  <hr/>
  <hr/>


  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
<br>