


<div class="nested-fields">
  <div class="jumbotron">
        <div class="control-group">
          <div class ="controls">
            <%= f.association :outflowtype, collection: Outflowtype.order(:name),label_method: :name, prompt: "Choose a flowtype", label:"Type" %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <div class ="controls">
            <%= f.association :person, collection: Person.order(:fullname), label_method: :fullname, prompt: "Choose an owner", label:"Owner" %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <div class ="controls">
            <%= f.association :bankaccount, collection: Bankaccount.order(:account_code), label_method: :account_code, prompt: "Choose an origin", label:"Origination" %>
          </div>
        </div>
          <br>

      <div class="form-inputs">
          <%= f.input :year,placeholder:'Year...' %>
          <%= f.input :month,placeholder:'Month...' %>
          <%= f.input :date_posted %>
          <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>
          <%= f.input :amount,placeholder:'Amount...' %>
          <%= f.input :follow_up %>
        <hr>
          <%= f.input :details ,placeholder:'Details...'%>
          <%= f.input :rationale,placeholder:'Add Rationale...' %>
      </div>
      <hr>
    </div>

</div>


  <div class="breadcrumb">
    <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>
  </div>







