<% provide(:title, "View Ledger") %>
<p id="notice"><%= notice %></p>

<div class="breadcrumb">
  <h3>The General Ledger - Balance Sheet: <%= @ledger.name %></h3>
</div>


<div>
  <div class="row">
    <div class="col-sm-6">

      <div class="jumbotron">
        <h2 style="font-size: 15px;background-color: navy;color: white"><strong> Ledger Details</strong></h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Month</td>
            <td><%= @ledger.month %> </td>
          </tr>
          <tr>
            <td>Year</td>
            <td><%= @ledger.year %></td>
          </tr>
          <tr>
            <td>Ledger Date</td>
            <td><%= @ledger.ledger_date.strftime("%d, %b  %Y") %></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><%= @ledger.name %></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div>
          <strong>Note/Comment:</strong>
          <textarea rows="6" cols="80" readonly><%= @ledger.note %></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-6">

      <div class="jumbotron">
        <h2 style="font-size: 15px;background-color: navy;color: white"><strong> Ledger Financial Summary</strong></h2>

        <strong> General: </strong><br><br>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Title</th>
            <th>Amount(€)</th>
            <th>Literal</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Annual Budget Balance [Remainder] (€):</td>
            <td>€ <%= @budget_balance %> </td>
            <td><%= @budget_balance.humanize %></td>
          </tr>
          <tr>
            <td>Annual Cashflow Balance [Remainder] (€): </td>
            <td>€ <%= @cashflow_balance %> </td>
            <td><%= @cashflow_balance.humanize %></td>
          </tr>
          <tr>
            <td>Annual Budget vs Annual Cashflow (€):</td>
            <td> € <%= @budget_vs_cashflow %></td>
            <td><%= @budget_vs_cashflow.humanize %></td>
          </tr>
          <tr>
            <td>Annual Savings Balance (€):</td>
            <td>€ <%= @saving_balance %></td>
            <td><%= @saving_balance.humanize %></td>
          </tr>
          <tr>
            <td>Annual Savings + Annual Cashflow Balance (Actual) (€): </td>
            <td>€ <%= @cashflow_balance_plus_saving_balance %></td>
            <td><%= @cashflow_balance_plus_saving_balance.humanize %></td>
          </tr>
          </tbody>
        </table>

        <strong> Liquidity (€): </strong><br><br>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Title</th>
            <th>Amount(€)</th>
            <th>Literal</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Annual Total Inflow (€): </td>
            <td>€ <%= @annual_total_inflow %></td>
            <td><%= @annual_total_inflow.humanize %></td>
          </tr>
          <tr>
            <td>Annual Total Outflow (€)</td>
            <td>€ <%= @annual_total_outflow %></td>
            <td><%= @annual_total_outflow.humanize %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb">
  <%= link_to 'Edit', edit_ledger_path(@ledger), class:'fa fa-edit' %> |
  <%= link_to 'Back', ledgers_path, class:'fa fa-arrow-left'  %>
</div>
<hr>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron">
      <h2 style="font-size: 15px;background-color: navy;color: white"><strong> Actual Income </strong></h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Category</th>
          <th>Amount(€)</th>
          <th>Literal</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Salary</td>
          <td>€  <%= @isalary %> </td>
          <td><%= @isalary.humanize %></td>
        </tr>
        <tr>
          <td>Child Benefit (€)</td>
          <td>€ <%= @ichild_benefit %> </td>
          <td><%= @ichild_benefit.humanize %></td>
        </tr>
        <tr>
          <td>Lotto Winnings(€)</td>
          <td>€ <%=@ilotto_winnings%></td>
          <td><%= @ilotto_winnings.humanize %></td>
        </tr>
        <tr>
          <td>Other (€)</td>
          <td>€ <%= @iothers %></td>
          <td><%= @iothers.humanize %></td>
        </tr>
        <tr>
          <td>Annual Actual Income (€)</td>
          <td>€ <%= @annual_total_inflow %></td>
          <td><%= @annual_total_inflow.humanize %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="jumbotron">
      <h2 style="font-size: 15px;background-color: navy;color: white"><strong>Budgeted Income</strong></h2>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Category</th>
          <th>Amount(€)</th>
          <th>Literal</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Salary</td>
          <td>€  <%= @salary %> </td>
          <td><%= @salary.humanize %></td>
        </tr>
        <tr>
          <td>Child Benefit (€)</td>
          <td>€ <%= @child_benefit %> </td>
          <td><%= @child_benefit.humanize %></td>
        </tr>
        <tr>
          <td>Lotto Winnings(€)</td>
          <td>€ <%=@lotto_winnings%></td>
          <td><%= @lotto_winnings.humanize %></td>
        </tr>
        <tr>
          <td>Other (€)</td>
          <td>€ <%= @others %></td>
          <td><%= @others.humanize %></td>
        </tr>
        <tr>
          <td>Annual Totals Budgeted Income (€)</td>
          <td>€ <%= @annual_total_income %></td>
          <td><%= @annual_total_income.humanize %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="breadcrumb">
  <%= link_to 'Edit', edit_ledger_path(@ledger), class:'fa fa-edit' %> |
  <%= link_to 'Back', ledgers_path, class:'fa fa-arrow-left'  %>
</div>
<hr>
<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Actual Expenses:</strong></h2></div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Category</th>
            <th>Amount(€)</th>
            <th>Literal</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Rent</td>
            <td>€  <%= @irent %> </td>
            <td><%= @irent.humanize %></td>
          </tr>
          <tr>
            <td>Telecom</td>
            <td>€ <%= @itelecom %> </td>
            <td><%= @itelecom.humanize %></td>
          </tr>
          <tr>
            <td>eFlow</td>
            <td>€ <%=@ieflow%></td>
            <td><%= @ieflow.humanize %></td>
          </tr>
          <tr>
            <td>Food</td>
            <td>€ <%= @ifood %></td>
            <td><%= @ifood.humanize %></td>
          </tr>
          <tr>
            <td>Electricity</td>
            <td>€ <%= @ielectricity %></td>
            <td><%= @ielectricity.humanize %></td>
          </tr>
          <tr>
            <td>Credit Card Fees</td>
            <td>€ <%= @icredit_card_fees %></td>
            <td><%= @icredit_card_fees.humanize %></td>
          </tr>
          <tr>
            <td>Current Account Fees</td>
            <td>€ <%= @icurrent_account_fees %></td>
            <td><%= @icurrent_account_fees.humanize %></td>
          </tr>
          <tr>
            <td>Allowance - Gaelle</td>
            <td>€ <%= @iallowance_gaelle %></td>
            <td><%= @iallowance_gaelle.humanize %></td>
          </tr>

          <tr>
            <td>Allowance - Herve</td>
            <td>€ <%= @iallowance_herve %></td>
            <td><%= @iallowance_herve_account_fees.humanize %></td>
          </tr>
          <tr>
            <td>Loan  - PTSB</td>
            <td>€ <%= @iloan_ptsb %></td>
            <td><%= @iloan_ptsb.humanize %></td>
          </tr>
          <tr>
            <td>Loan - Chill Money</td>
            <td>€ <%= @iloan_chill_money %></td>
            <td><%= @iloan_chill_money.humanize %></td>
          </tr>
          <tr>
            <td>Lodgement - Credit Union</td>
            <td>€ <%= @ilodgement_credit_union %></td>
            <td><%= @ilodgement_credit_union.humanize %></td>
          </tr>
          <tr>
            <td>Family Support</td>
            <td>€ <%= @ifamily_support %></td>
            <td><%= @ifamily_support.humanize %></td>
          </tr>
          <tr>
            <td>Entertainment - Night Out:</td>
            <td>€ <%= @ientertainment_nightout %></td>
            <td><%= @ientertainment_nightout.humanize %></td>
          </tr>
          <tr>
            <td>Entertainment - Day Out</td>
            <td>€ <%= @ientertainment_dayout %></td>
            <td><%= @ientertainment_dayout.humanize %></td>
          </tr>
          <tr>
            <td>Apple storage</td>
            <td>€ <%= @iapple_storage %></td>
            <td><%= @iapple_storage.humanize %></td>
          </tr>
          <tr>
            <td>AA Ireland</td>
            <td>€ <%= @iaa_ireland %></td>
            <td><%= @iaa_ireland.humanize %></td>
          </tr>
          <tr>
            <td>Lottery Ticket</td>
            <td>€ <%= @ilottery_ticket %></td>
            <td><%= @ilottery_ticket.humanize %></td>
          </tr>
          <tr>
            <td>Car Tax</td>
            <td>€ <%= @icar_tax %></td>
            <td><%= @icar_tax.humanize %></td>
          </tr>
          <tr>
            <td>Heating Oil</td>
            <td>€ <%= @heating_oil %></td>
            <td><%= @heating_oil.humanize %></td>
          </tr>
          <tr>
            <td>Car Service</td>
            <td>€ <%= @icar_service %></td>
            <td><%= @icar_service.humanize %></td>
          </tr>
          <tr>
            <td>Spiritual Tools</td>
            <td>€ <%= @ispiritual_tools %></td>
            <td><%= @ispiritual_tools.humanize %></td>
          </tr>
          <tr>
            <td>Other</td>
            <td>€ <%= @iother_expenses %></td>
            <td><%= @iother_expenses.humanize %></td>
          </tr>
          <tr>
            <td>Work Lunch:</td>
            <td>€ <%= @iwork_lunch %></td>
            <td><%= @iwork_lunch.humanize %></td>
          </tr>
          <tr>
            <td>Pharmacy</td>
            <td>€ <%= @ipharmacy %></td>
            <td><%= @ipharmacy.humanize %></td>
          </tr>
          <tr>
            <td>Furniture</td>
            <td>€ <%= @ilottery_ticket %></td>
            <td><%= @ifurniture.humanize %></td>
          </tr>
          <tr>
            <td class="alert-info">Total Expenses </td>
            <td class="alert-info" >€ <%= @annual_total_outflow%></td>
            <td class="alert-info"><%= @annual_total_outflow.humanize %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron">
        <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Budgeted Expenses:</strong></h2></div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Category</th>
            <th>Amount(€)</th>
            <th>Literal</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Rent</td>
            <td>€  <%= @rent %> </td>
            <td><%= @rent.humanize %></td>
          </tr>
          <tr>
            <td>Telecom</td>
            <td>€ <%= @telecom %> </td>
            <td><%= @telecom.humanize %></td>
          </tr>
          <tr>
            <td>eFlow</td>
            <td>€ <%=@eflow%></td>
            <td><%= @eflow.humanize %></td>
          </tr>
          <tr>
            <td>Food</td>
            <td>€ <%= @food %></td>
            <td><%= @food.humanize %></td>
          </tr>
          <tr>
            <td>Electricity</td>
            <td>€ <%= @electricity %></td>
            <td><%= @electricity.humanize %></td>
          </tr>
          <tr>
            <td>Credit Card Fees</td>
            <td>€ <%= @credit_card_fees %></td>
            <td><%= @credit_card_fees.humanize %></td>
          </tr>
          <tr>
            <td>Current Account Fees</td>
            <td>€ <%= @current_account_fees %></td>
            <td><%= @current_account_fees.humanize %></td>
          </tr>
          <tr>
            <td>Allowance - Gaelle</td>
            <td>€ <%= @allowance_gaelle %></td>
            <td><%= @allowance_gaelle.humanize %></td>
          </tr>

          <tr>
            <td>Allowance - Herve</td>
            <td>€ <%= @allowance_herve %></td>
            <td><%= @allowance_herve_account_fees.humanize %></td>
          </tr>
          <tr>
            <td>Loan  - PTSB</td>
            <td>€ <%= @loan_ptsb %></td>
            <td><%= @loan_ptsb.humanize %></td>
          </tr>
          <tr>
            <td>Loan - Chill Money</td>
            <td>€ <%= @loan_chill_money %></td>
            <td><%= @loan_chill_money.humanize %></td>
          </tr>
          <tr>
            <td>Lodgement - Credit Union</td>
            <td>€ <%= @lodgement_credit_union %></td>
            <td><%= @lodgement_credit_union.humanize %></td>
          </tr>
          <tr>
            <td>Family Support</td>
            <td>€ <%= @family_support %></td>
            <td><%= @family_support.humanize %></td>
          </tr>
          <tr>
            <td>Entertainment - Night Out:</td>
            <td>€ <%= @entertainment_nightout %></td>
            <td><%= @entertainment_nightout.humanize %></td>
          </tr>
          <tr>
            <td>Entertainment - Day Out</td>
            <td>€ <%= @entertainment_dayout %></td>
            <td><%= @entertainment_dayout.humanize %></td>
          </tr>
          <tr>
            <td>Apple storage</td>
            <td>€ <%= @apple_storage %></td>
            <td><%= @apple_storage.humanize %></td>
          </tr>
          <tr>
            <td>AA Ireland</td>
            <td>€ <%= @aa_ireland %></td>
            <td><%= @aa_ireland.humanize %></td>
          </tr>
          <tr>
            <td>Lottery Ticket</td>
            <td>€ <%= @lottery_ticket %></td>
            <td><%= @lottery_ticket.humanize %></td>
          </tr>
          <tr>
            <td>Car Tax</td>
            <td>€ <%= @car_tax %></td>
            <td><%= @car_tax.humanize %></td>
          </tr>
          <tr>
            <td>Heating Oil</td>
            <td>€ <%= @heating_oil %></td>
            <td><%= @heating_oil.humanize %></td>
          </tr>
          <tr>
            <td>Car Service</td>
            <td>€ <%= @car_service %></td>
            <td><%= @car_service.humanize %></td>
          </tr>
          <tr>
            <td>Spiritual Tools</td>
            <td>€ <%= @spiritual_tools %></td>
            <td><%= @spiritual_tools.humanize %></td>
          </tr>
          <tr>
            <td>Other</td>
            <td>€ <%= @other_expenses %></td>
            <td><%= @other_expenses.humanize %></td>
          </tr>
          <tr>
            <td>Work Lunch:</td>
            <td>€ <%= @work_lunch %></td>
            <td><%= @work_lunch.humanize %></td>
          </tr>
          <tr>
            <td>Pharmacy</td>
            <td>€ <%= @pharmacy %></td>
            <td><%= @pharmacy.humanize %></td>
          </tr>
          <tr>
            <td>Furniture</td>
            <td>€ <%= @furniture %></td>
            <td><%= @furniture.humanize %></td>
          </tr>
          <tr>
            <td class="alert-info">Total Expenses </td>
            <td class="alert-info" >€ <%= @annual_total_expenses%></td>
            <td class="alert-info"><%= @annual_total_expenses.humanize %></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb">
  <%= link_to 'Edit', edit_ledger_path(@ledger), class:'fa fa-edit' %> |
  <%= link_to 'Back', ledgers_path, class:'fa fa-arrow-left'  %>
</div>
<hr>
<div class="breadcrumb">
  <div>
    Created on:
    <%=h @ledger.created_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Updated on:
    <%=h @ledger.updated_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Saving Number:
    LN - <%=h @ledger_number %>
  </div>
  <br>
</div>

