

<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%=link_to image_tag("atom.png", alt: "atom logo", :size => "50x50") , root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, class: 'fa fa-home' %></li>
        <li><%= link_to "Help", help_path, class: 'fa fa-question-circle-o' %></li>
        <% if current_user %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             Finance <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="alert-info"><%= link_to "Cashflow", cashflows_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Ledger", ledgers_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Budget", budgets_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Savings", savings_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Rent Management", rent_managements_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Loan Management", loan_managements_path , class: 'fa fa-database'%></li>
              <% if current_user.admin == true %>
                <li class="divider"></li>
                <li class="alert-danger"><%= link_to "Bank Accounts", bankaccounts_path , class: 'fa fa-database'%></li>
                <li class="divider"></li>
                <li class="alert-danger"><%= link_to "Cashflow Recons", cashflow_recons_path , class: 'fa fa-database'%></li>
                <li class="divider"></li>
                <li class="alert-danger"><%= link_to "Savings Recons", saving_recons_path , class: 'fa fa-database'%></li>
                <li class="divider"></li>
                <li class="alert-danger"><%= link_to "Loan Register", loan_registrations_path , class: 'fa fa-database'%></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Search Fiancials<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Income   Overview",incomes_path, class:'fa fa-search' %></li>
              <li class="divider"></li>
              <li><%= link_to "Expenses Overview",expenses_path, class:'fa fa-search' %></li>
              <li class="divider"></li>
              <li><%= link_to "Inflows  Overview",inflows_path, class:'fa fa-search' %></li>
              <li class="divider"></li>
              <li><%= link_to "Outflows Overview",outflows_path, class:'fa fa-search' %></li>
              <li class="divider"></li>
              <li><%= link_to "Lodgements Overview",lodgements_path, class:'fa fa-search' %></li>
              <li class="divider"></li>
              <li><%= link_to "Withdrwals Overview",withdrawals_path, class:'fa fa-search' %></li>
              <li class="divider"></li>
              <li><%= link_to "Legacy Transactions",legacy_ulsterbanks_path, class:'fa fa-search' %></li>
              <% if current_user.admin == true %>
                <li class="divider"></li>
                <li class="alert-danger"><%= link_to "Password Repository", search_passwordrepositories_path, class:'fa fa-key' %></li>
              <% end %>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              House-Admin <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="alert-info"><%= link_to "Resources", resources_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Service Providers", service_providers_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Policy", rules_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Deliveries", deliveries_path, class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Inventory", inventories_path, class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "People", people_path , class: 'fa fa-database'%></li>
              <li class="divider"></li>
              <li class="alert-info"><%= link_to "Issue Management", issue_managements_path , class: 'fa fa-database'%></li>
              <% if current_user.admin == true %>
              <li class="divider"></li>
              <li class="alert-danger"><%= link_to "Backend System", rails_admin_path , class: 'fa fa-database'%></li>
              <% end %>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Home Intel <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", edit_user_registration_path, class:'fa fa-cog' %></li>

              <li class="divider"></li>
              <li class="alert-danger">
                <%= link_to "Log out",  destroy_user_session_path, method: :delete, class:'fa fa-sign-in' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path, class:'fa fa-sign-out' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>